.login{
    border-radius: 10px;
    margin: -20px -25px -20px -25px;
    background-size: cover;
    
}
.email{
    font-family: 'bonzai';
}
.loginform{
    box-shadow: 7px 8px 32px 7px rgba(109, 140, 241,0.8);
    padding: 0px 16px 16px 16px;
    border-radius: 10.5px;
    backdrop-filter: blur(3px);
}
.social{
    display: flex;
    justify-content: center;
    gap: 24px;
    color: white;
    font-size: 24px;
}